#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.table-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.col-header {
  background: #000;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell-info {
  border: 1px solid #000;
  display: flex;
  align-items: center;
  font-size: 11px;
  font-weight: 600;
  justify-content: center;
}

.cell-input {
  max-width: 100px;
  border: 1px solid #000;
  height: inherit;
}

.cell-linear-progress {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  min-width: 70%;
}

.center {
  display: grid;
  place-items: center;
}

.spinner {
  width: 15px;
  height: 15px;
  border: 2.5px solid #ccc;
  border-top: 2.5px solid #000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
